<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arama Sonucu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>'{{ arama_kelimesi }}' için eşleşen makaleler:</h2>
    <ul>
        {% for makale in eslesen_makaleler %}
            <li><a href="{{ url_for('makale_detay', dosya_adi=makale) }}">{{ makale }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
